// made by Tobias
$standard-font-size : 16;

@mixin font-size($sizeValue: null) {
  font-size: $sizeValue + px;
  font-size: calculateRem($sizeValue);
}

@function calculateRem($size) {
  $remSize: $size / $standard-font-size;
  @return #{$remSize}rem;
}