
@mixin grid-container($columns: 12, $gap: 20px) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
  }
  
  @mixin grid-item($span: 1, $columns: 12) {
    width: percentage($span / $columns);
  }
  

  .container {
    @include grid-container(12, 20px);
  }
  
  .item {
    @include grid-item(2, 12);
  }