@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: 600px) { @content; }
    } @else if $breakpoint == tablet {
      @media (max-width: 900px) { @content; }
    } @else if $breakpoint == desktop {
      @media (min-width: 901px) { @content; }
    }
  }
  
  .container {
    width: 100%;
  
    @include respond-to(mobile) {
      width: 50%;
    }
  
    @include respond-to(desktop) {
      width: 25%;
    }
  }